body {

	padding: 0px;
  background-color: #efefef;
}

.jumbotron{

background-image:url("https://i.imgur.com/Q19ZhoZ.jpg");
position: fixed;

width: 100%;
height: 800px;
background-size: cover;
color: white;
background-repeat: no-repeat;
padding: 0px;

border-radius: 0px;
border-top: thick #ffffff;
border-top: 1px;
border-style: solid;
border-left: 0;
border-right: 0;



}

.homelette{

	width: 100%;
	padding: 0px;
  border-radius: 0;
}

.slogan {


	font-size: 120%;
	color: black;
	padding: 0px;

}

.mainheader {



	padding: 30px;
	text-align: left;
	color: white;

	background-image:url("https://i.imgur.com/CYUTUFs.jpg"); 
	background-size: cover;
	width: 100%;
	height: 120px;
  font-size: 60%;
  font-family: herculanum;
	
	



}

h1 {

	
	font-size: 500%;
}

.jumbopanel {

	margin-top: 70px;
  color: black;
	max-width: 50%;
	padding-top: 0px;
	opacity: 0.9;
  height: 45%;
  padding: 15px;

}


.jumbopanel h2 h3 p {


  padding: 20px;
  margin: 20px;
}

hr {

	background-color: #999;
}

.btn-custom-start {
  background-color: hsl(36, 100%, 63%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffdca8", endColorstr="#feb342");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffdca8), to(#feb342));
  background-image: -moz-linear-gradient(top, #ffdca8, #feb342);
  background-image: -ms-linear-gradient(top, #ffdca8, #feb342);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffdca8), color-stop(100%, #feb342));
  background-image: -webkit-linear-gradient(top, #ffdca8, #feb342);
  background-image: -o-linear-gradient(top, #ffdca8, #feb342);
  background-image: linear-gradient(#ffdca8, #feb342);
  border-color: #feb342 #feb342 hsl(36, 100%, 58%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased;
  float: right;

}

.btn-custom {
  background-color: hsl(36, 100%, 63%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffdca8", endColorstr="#feb342");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffdca8), to(#feb342));
  background-image: -moz-linear-gradient(top, #ffdca8, #feb342);
  background-image: -ms-linear-gradient(top, #ffdca8, #feb342);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffdca8), color-stop(100%, #feb342));
  background-image: -webkit-linear-gradient(top, #ffdca8, #feb342);
  background-image: -o-linear-gradient(top, #ffdca8, #feb342);
  background-image: linear-gradient(#ffdca8, #feb342);
  border-color: #feb342 #feb342 hsl(36, 100%, 58%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased;
  position: absolute;
  right:    0;
  bottom:   0;
  

}

.btn-custom-color {
   background-color: hsl(36, 100%, 63%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffdca8", endColorstr="#feb342");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffdca8), to(#feb342));
  background-image: -moz-linear-gradient(top, #ffdca8, #feb342);
  background-image: -ms-linear-gradient(top, #ffdca8, #feb342);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffdca8), color-stop(100%, #feb342));
  background-image: -webkit-linear-gradient(top, #ffdca8, #feb342);
  background-image: -o-linear-gradient(top, #ffdca8, #feb342);
  background-image: linear-gradient(#ffdca8, #feb342);
  border-color: #feb342 #feb342 hsl(36, 100%, 58%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased;


}



.sidelist{

 
  border-style: solid;
  background-color: #efefef;
  height: 630px;
  width: 200px;
  margin: 0;
  padding: 0;
}

#guests {

height: 150px;
border-style: solid;
padding: 10px;
margin: 0;
border-top: 0;
border-left: 0;
border-right: 0;
font-size: 150%;
 
}

.foodlist {
  padding: 0;
  margin: 0;


 
}

.total {
background-color: #efefef;

border-style: solid;
position: absolute;

height: 100px;

bottom: 0;
width: 100%;
border-left: 0;
border-right: 0;
border-bottom: 0;
  
}

.select {

  
  height: 60px;
}

.items {

  
  
}

.selector {

 
  background-color: #efefef;
  padding: 0;
  margin: 0;
  border-style: solid;
  height: 630px;
  border-left: 0; 
  
  width: 80%;
  overflow-x: hidden !important;
  overflow-y: scroll !important; 




  

}

.main {
padding-top: 0px;
width: 100%;

}

.selector-menu {
height: 180px;
background-color: white;
padding-top: 0;
margin: 0;
border-bottom: solid;



}

.selector-ingredients {

background-color: #FFFFCC;

margin: 0;
height: 450px;
width: 35%;
border-style: solid;
overflow: auto;
right: 0;
left: 0;
float: right;
top: 0;
padding-bottom: 2px;
border-top: none;


}

.selector-method {
background-color: #efefef;
float: left;

position: absolute;
left: 0;




}

#selecttext {

  color: black;
}

.quantity {

  padding-right: 45px;
  float: right;
  padding-top: 15px;
}


#ConfirmButtonBox {

  padding-bottom: 10px;
  padding-right: 10px;
}

.recipe-section {


  float: left;
  text-align: left;

}

#ConfirmDish {

  float: right;




}

.panel {

  padding-top: 0px;

}

.AddButton {

  float: right;
}

.anim { display:none }


.GuestsOverviewNumber {

width: 30px;
float: left;
border: 0;
margin-top: 30px;
background: none;


}

.GuestsOverviewNumberDish {

width: 30px;
float: left;
border: 0;
margin-top: 0px;
background: none;


}

.OverviewBackToSelector{

  margin-top: 50px;
  margin-right: 140px;
}

#MyDinnerFor {

text-align: center;
margin-top: 50px;
float: right;



}

hr {
    height: 2px;
    background-color:#555;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 75%;
}

.PrintFullRecipe {
  margin-right: 60px;
  float: right;
  margin-top: 60px;


}

#OverviewTotal{

  margin-left: 250px;
  margin-top: 0px;


}
.TotalColor {


  background-color: hsl(36, 100%, 63%) !important;
  background-repeat: repeat-x;
}

.ImgBorder {

  border-style: solid;
}
.preparation {
  




  
}

.preparation-section {

  margin: 10px;
  

}

.preparation-image {

  margin: 30px;

}
.button-increment {

  
}

mainheader  h1 {

  color: #0060B6;
    text-decoration: none;
}

mainheader a h1:hover {

  color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
}